{{{ args.before_widget }}}

	{{# instance.btn_link }}
		<a class="icon-box" href="{{{ instance.btn_link }}}" target="{{ instance.target }}">
	{{/ instance.btn_link }}
	{{^ instance.btn_link }}
		<div class="icon-box">
	{{/ instance.btn_link }}

		<i class="fa  {{{ instance.icon }}}"></i>
		<h4 class="icon-box__title">{{ instance.title }}</h4>
		<span class="icon-box__subtitle">{{ instance.text }}</span>

	{{# instance.btn_link }}
		</a>
	{{/ instance.btn_link }}
	{{^ instance.btn_link }}
		</div>
	{{/ instance.btn_link }}

{{{ args.after_widget }}}